# JVM / Gradle / Kotlin
.gradle/
**/.gradle/
build/
**/build/
out/
**/out/
bin/
**/bin/
**/kotlin-js-store/

# NodeJS / Frontend
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store/
.npm/
.yarn/
.yarn-cache/
.yarn/unplugged/
dist/
**/dist/
.next/
.nuxt/
.svelte-kit/
coverage/

# IDE / Editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache/
.apt_generated/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs & temp
*.log
hs_err_pid*
*.tmp
*.swp

# OS files
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
*.env

# Tooling future-proof
.terraform/
*.tfstate
*.tfstate.*
__pycache__/
*.pyc
.venv/
venv/
